@font-face {
  font-family: "iconfont"; /* Project id 4619132 */
  src: url('iconfont.woff2?t=1753928724484') format('woff2'),
       url('iconfont.woff?t=1753928724484') format('woff'),
       url('iconfont.ttf?t=1753928724484') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e601";
}

.icon-zhengque:before {
  content: "\e605";
}

.icon-recorder:before {
  content: "\e7c3";
}

.icon-language:before {
  content: "\e7c1";
}

.icon-internet-error:before {
  content: "\e7cb";
}

.icon-redo:before {
  content: "\e7cc";
}

.icon-scan:before {
  content: "\e7cf";
}

.icon-order:before {
  content: "\e7d0";
}

.icon-success:before {
  content: "\e7d1";
}

.icon-share:before {
  content: "\e7d2";
}

.icon-warning:before {
  content: "\e7d3";
}

.icon-upload:before {
  content: "\e7d4";
}

.icon-run:before {
  content: "\e7db";
}

.icon-delete:before {
  content: "\e60f";
}

.icon-folder:before {
  content: "\e61f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-app:before {
  content: "\e7b2";
}

.icon-camera:before {
  content: "\e7b3";
}

.icon-chain:before {
  content: "\e7b5";
}

.icon-cloud-download:before {
  content: "\e7b7";
}

.icon-comment:before {
  content: "\e7b8";
}

.icon-cloud-server:before {
  content: "\e7b9";
}

.icon-cloud-upload:before {
  content: "\e7ba";
}

.icon-download:before {
  content: "\e7bc";
}

.icon-eye-close:before {
  content: "\e7bd";
}

.icon-internet:before {
  content: "\e7be";
}

.icon-home:before {
  content: "\e7c7";
}

.icon-note:before {
  content: "\e7c9";
}

.icon-star:before {
  content: "\e7ca";
}

.icon-user-circle:before {
  content: "\e7cd";
}

.icon-lock:before {
  content: "\e7ce";
}

.icon-desktop:before {
  content: "\e84d";
}

.icon-WEByingyong:before {
  content: "\e6bb";
}

.icon-mobile-phone:before {
  content: "\e85c";
}

.icon-close:before {
  content: "\e7b4";
}

.icon-minimize:before {
  content: "\e7bf";
}

.icon-maximize:before {
  content: "\e7c0";
}

.icon-question:before {
  content: "\e7c2";
}

.icon-search:before {
  content: "\e7c4";
}

.icon-server:before {
  content: "\e7c6";
}

.icon-user:before {
  content: "\e7c8";
}

.icon-setting:before {
  content: "\e7c5";
}

